/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.float{
  float: right;
}

.break{
  border-top: 3px solid rgb(87, 28, 252);
}

.display {
  background: rgb(184,139,246);
  background: linear-gradient(267deg, rgba(184,139,246,1) 0%, rgba(255,255,255,1) 57%);
  
}

.border-on{
 
 border-right: 3px solid black;
 transition: .1s ease-out;
}

.border-off {
  transition: .2s ease-in;
  border-right: 0px solid black;
}

.transitionPage {
  animation-name: fadeInUp;
  animation-duration: 0.25s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@media (max-width: 1023px) {
 .nav-mobile{
   height: 70px;
   width: 100vw;
 }

 .ul-mobile{
  display: flex;
  flex-direction: row;
 }

 .border-on{
  border-bottom: 3px solid black;
  transition: .1s ease-out;
  border-right: 0px solid black;
  padding: 20px;
 }

 .border-off{
  transition: .2s ease-in;
  border-bottom: 0px solid black;
  padding: 20px;
 }

 .li-mobile{
 margin-bottom: 0px;
 padding: 20px;
 }

 .grid-mobile{
  grid-template-columns: auto;
 }

 .welcome-mobile{
   margin-left: 0px;
   padding: 20px;
 }

 .dont-display{
 display: none;
 }


}

@media (min-width: 250px) and (max-width: 450px) {
  li{
    font-size: 0.7rem;
    margin-left: -10px;
  }
  .border-on{
    padding-left: 10px;
  }
}

@media (min-width: 1023px) {
.welcome-mobile{
  margin-left: -170px;
}
}





